@baseColor:#f95a5a;
@baseColor2:#FF976A;
@fuzhuColor:#FFFBE8;
@fuzhuClolr2:#FFF7E8;
@bgColor:#dedede;//背景色
//文字颜色
@fon:#323233;

.home{
    background: @bgColor;
    .banner {
        img {
          width: 100%;
        }
      }
      .listBOX{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;
      }
     .van-card{
       width: 100%;
       text-align: left;
     }
}